.chl-section {
  /* height: 90vh; */
  width: 40vw;
  background-color: #DEDFDA;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333333;
  padding: 0;
}

.chl-section > div, button, p, span, ul, li, label {
  background-color: #DEDFDA;
}

#val-sel {
  width: 95%;
  height: 7vh;
  margin-top: .7rem;
  display: flex;
  align-items: center;
  background-color: #DDCDA9;
  border-radius: .5rem;
  margin-bottom: 2.6rem;
}

#val-sel > h1 {
  background-color: #DDCDA9;
  font-weight: 400;
  font-size: 2rem;
}

#chk-list {
  list-style-type: none;
  align-self: flex-start;
  border-bottom: gray 2px solid;
  width: 100%;
}

#chk-list li {
  margin-bottom: 2.7rem;
}

input {
  margin-right: 10px;
}

.options {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 1.8rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: .8rem;
}

.options input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.options p {
  margin-left: .5rem;
}

.chckd {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
  border: #417825 solid 2px;
  border-radius: 15%;
}

.options:hover input ~ .chckd {
  background-color: #D6E4CC;
}

.options input:checked ~ .chckd {
  background-color: #417825;
}

.chckd:after {
  content: '';
  position: absolute;
  display: none;
}

.options input:checked ~ .chckd:after {
  display: block;
}

.options .chckd:after {
  left: 30%;
  top: 10%;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn-sec {
  margin-top: .4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .4rem;
}

#clear {
  width: 98%;
  border: solid #417825 2px;
  height: 7.5vh;
  font-size: 1.6rem;
  color: #417825;
  font-weight: 600;
  border-radius: 10px;
}
